@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

#lyricsDiv {
 text-align: center;
 margin: 5% 20% 5% 20%;
 text-align: justify;
}

#filterInput{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#submitButton {
  align-items: center;
  justify-content: center;
}

.form-control {
  text-align: center;
}
